<div class="countries">
	<div class="page-nav">
		<div class="dropdown">
 			<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				<i class="material-icons" id="filter">filter_list</i>
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu" id="filter-menu" aria-labelledby="dLabel">
    			<li><i class="material-icons">sort_by_alpha</i>Name</li>
				<li><i class="material-icons">favorite</i>Most Visited</li>
				<li><i class="material-icons">whatshot</i>Hottest</li>
				<li><i class="material-icons">trending_up</i>Trending</li>
				<li><i class="material-icons">my_location</i>Near Me</li>
  			</ul>
		</div>
		<h2> Vapes </h2>
		<ul class="pull-right">
			<li class="square"><i class="material-icons" id="square">reorder</i></li>
			<li class="squares"><i class="material-icons">apps</i></li>
		</ul>
	</div>

	<div class="container">
		<div class="col-md-4 col-xs-4 col-md-offset-8 col-xs-offset-3">
			<% flash.each do |name, msg| -%>
    		<%= content_tag :div, msg, class: name %>
    		<% end -%>	
		</div>
		<div class="app-nav">
			<% if current_user && current_user.admin? || current_user.editor?() %>
				<%= link_to create_country_path(@new) do %>
					<i class="material-icons">add_circle</i>
				<% end %>
			<% end %>
		</div>
		<div class="cards row">
			<% @countries.each do |c| %>
			<div class="card col-md-3 col-xs-10">
				<img class="img-responsive" id="tags" src="<%= c.image %>"/>
				<h2><%= c.title %></h2>
				<%= link_to country_path(c) do %>
				<div class="card-action">
					<i class="material-icons">explore</i>
				<% end %>
				<i class="material-icons">favorite_border</i>
				<%= link_to root_path(c) do %>
					<i class="material-icons">location_on</i>
				<% end %>
				<%= link_to root_path(c) do %>
					<i class="material-icons">loyalty</i>
				<% end %>
				<% if current_user && current_user.admin?() %>
					<%= link_to country_path(c), method: "delete", data: {confirm: "Are you sure you want to delete this?"} do %>
						<i class="material-icons">delete_forever</i>
					<% end %>	
				<% end %>	
				<% if current_user && current_user.admin? || current_user.editor?() %>
					<%= link_to edit_country_path(c) do %>
					<i class="material-icons">mode_edit</i>
					<% end %>
				<% end %>
				</div>		
			</div>
			<% end %>
		</div>
	</div>
</div>
<div class="clear-fix">
</div>